html 
  head 
    style 
      include style.css 
  body 
    div 
      | Some text 
      br
      p paragraph 
    div 
      block content 
    .footer 
      | Best regards
      br
      a(href=frontendUrl) Nodemailer test